{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-4">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ user.profile.image.url }}" class="card-img" alt="User profile picture">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">User profile</h5>
                        <p class="card-text">Name: <strong>{{ user.username }}</strong></p>
                        <p class="card-text">Contact: <strong>{{ user.email }}</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Profile settings</h5>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}



