{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div>
    <img src="{{ user.profile.image.url }}" width="200" height="200" alt="" class="rounded-circle">
    <h1>{{ user.username }}</h1>
    <p>{{ user.email }}</p>
</div>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">
            Profile settings
        </legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Update</button>
    </div>
</form>

{% endblock %}
