{% extends 'blog/base.html' %}

{% block content %}
    <h1>Posts by {{ view.kwargs.username }} - {{ page_obj.paginator.count }}</h1>
    <div>
        {% for post in posts %}
            <h1><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h1>
            <p><a href="{% url 'user-posts' post.author.username %}">By {{ post.author }}</a></p>
            <p>{{ post.content }}</p>
            <p>{{ post.date_posted|date:"F d, Y" }}</p>
        {% endfor %}
    </div>

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}

{% endblock %}
